!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*
/node_modules
/app/assets/javascripts/react_bundle.js
/app/assets/stylesheets/react_bundle.css
