<p><%= t('.salutation', member: @invitation.member) %></p>
<p><%= t('.opening', sponsor: @invitation.sponsor, team: @invitation.team) %></p>
<p><%= t('.instructions') %></p>
<blockquote>
  <p><%= link_to @url, @url %></p>
</blockquote>
