// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');
$base-font-family: 'Work Sans', $font-stack-system;
$heading-font-family: $base-font-family;
$base-font-weight: 400;
$bold-font-weight: 600;
$light-font-weight: 300;

// Font Sizes
$base-font-size: 1em;
$small-font-size: .875em;
$tiny-font-size: .75em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-font-color: $oc-gray-9;
$secondary-font-color: $oc-gray-6;
$action-color: $oc-yellow-7;
$accent-color: $oc-yellow-5;
$error-color: $oc-red-7;

// Border
$base-border-color: $oc-gray-3;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

$base-shadow-color: rgba(0, 0, 0, .15);
$base-shadow: 0 1px .5rem $base-shadow-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba($oc-gray-9, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

$menu-selected-background-color: $oc-gray-3;
$menu-hover-background-color: $oc-yellow-5;

// Animations
$base-duration: 250ms;
$base-timing: $ease-out-cubic;

$sidebar-background-color: $oc-gray-6;
$sidebar-font-color: $oc-gray-1;
