<p><%= t('.details', sponsor: invitation.sponsor, team: invitation.team) %></p>

<%= button_to t('.accept'), accept_invitation_path(invitation), method: :post %>
<%= button_to t('.decline'), decline_invitation_path(invitation), method: :post %>
