.field,
.select {
  position: relative;
  padding: 0 0 .4375rem;

  #{$all-text-inputs},
  .trigger {
    background: none;
    border-radius: 0;
    border-width: 0 0 1px;
    box-shadow: none;
    color: currentColor;
    line-height: 1.5;
    padding: .25rem 0;
    margin: 0;
    border-bottom: 1px solid $base-border-color;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: .375rem;
    left: 0;
    right: 0;
    transition: all $base-duration $base-timing;
    transform: scaleX(0);
    border-bottom: 2px solid $action-color;
  }

  &[data-focus="true"]::after {
    transform: scaleX(1);
  }
}

.field.with-floating-label {
  padding-top: 2rem;

  label {
    position: absolute;
    left: 0;
    top: 2.375rem;
    line-height: 1.25em;
    transition: all $base-duration $base-timing;
    font-weight: $base-font-weight;
    color: $secondary-font-color;
  }

  &[data-has-value="true"] label,
  &[data-focus="true"] label {
    top: 1rem;
    line-height: 1rem;
    font-size: $tiny-font-size;
  }

  &[data-focus="true"] label {
    color: $action-color;
  }
}

.radio-button {
  input {
    display: none;
  }

  label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: $base-font-weight;
    margin: 0;
  }

  label > span {
    flex: 1;
    margin-left: .5rem;
    padding: .5rem 0;
    display: flex;
    align-items: flex-start;

    > :not(:first-child) {
      margin-left: 1rem;
    }

    span {
      line-height: $base-line-height;
    }

    .field, .select {
      flex: 1;
      margin-top: -.25rem;
      margin-bottom: -.25rem;
    }
  }

  svg {
    color: $secondary-font-color;
  }

  .ring {
    stroke-width: 2px;
    stroke: currentColor;
    fill: none;
    transition: all $base-duration $base-timing;
  }

  .dot {
    fill: currentColor;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: fill $base-duration $base-timing, transform $base-duration ease;
  }

  :checked ~ label svg {
    .ring {
      stroke: $action-color;
    }

    .dot {
      transform: scale(1);
      fill: $action-color;
      transition: fill $base-duration $base-timing, transform $base-duration $ease-out-back;
    }
  }
}

.select {
  .trigger {
    display: flex;
    cursor: pointer;

    span {
      @include ellipsis;
      flex: 1;
      padding-right: .5rem;
    }

    svg {
      flex: 0 0 1.5rem;
      fill: $secondary-font-color;
    }
  }

  .shim {
    content: "";
    @include position(fixed, 0% 0% 0% 0%);
  }

  .menu {
    @include position(absolute, null 0% null -1rem);
    z-index: 100;
    margin: 2rem 0 0;
    padding: .5rem 0;
    box-shadow: $base-shadow;
    border-radius: $base-border-radius;
    background: $base-background-color;

    li {
      @include ellipsis;
      display: block;
      line-height: $base-line-height;
      padding: .5rem 1rem;
      margin: 0;
      cursor: pointer;

      &[data-selected="true"] { background: $menu-selected-background-color; }
      &:hover { background: $menu-hover-background-color; }
    }
  }
}

.date.select {
  .menu {
    padding: 0 0 .5rem;
    left: 0;
    top: 0;
    margin: 0;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem 0;
    }

    section {
      margin: 0 auto;
      width: 18.5rem;
      padding: 0 .5rem .5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      &[data-starts-on="1"] del { display: none; }
      &[data-starts-on="2"] del { flex: 0 0 2.5rem; }
      &[data-starts-on="3"] del { flex: 0 0 5rem; }
      &[data-starts-on="4"] del { flex: 0 0 7.5rem; }
      &[data-starts-on="5"] del { flex: 0 0 10rem; }
      &[data-starts-on="6"] del { flex: 0 0 12.5rem; }
      &[data-starts-on="7"] del { flex: 0 0 15rem; }

      b, span {
        display: block;
        flex: 0 0 2.5rem;
        font-size: $tiny-font-size;
        line-height: 1rem;
        text-align: center;
      }

      b {
        font-weight: $base-font-weight;
        color: $secondary-font-color;
        margin-bottom: .5rem;
      }

      span {
        padding: .75rem 0;
        text-align: center;
        border-radius: 50%;
      }

      [data-today="true"] { background-color: $oc-gray-3; }
      [data-selected="true"] { background-color: $menu-hover-background-color; }
    }
  }
}

.time.select {
  .menu {
    top: -3.25rem;
    left: auto;
    right: 0;
    margin: 0;
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }

    button {
      @include size(2.5rem);
      padding: .5rem;
      background: none;
      border-radius: 50%;
      color: $secondary-font-color;
      outline: none;
    }

    span {
      text-align: center;
      padding: .5rem 0;
      font-size: 1.5rem;
      font-feature-settings: 'tnum';
    }

    > span {
      width: .5rem;
      padding: 0;
    }
  }
}

fieldset .row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  margin-bottom: $small-spacing;

  > * {
    flex: 1;
    &:not(:first-child) { margin-left: 1rem; }
  }

  > span {
    @include ellipsis;
    flex: 0 0 auto;
    padding: .25rem auto;
    margin-bottom: .5rem;
  }
}

#{$all-buttons} {
  .icon {
    path { fill: currentColor; }
  }
}
